---
title: people
heading: Our group
subtitle: Meet our brilliant team.
---

<section class="diagonal patterned">
	<div class="container">
		<li style="font-size:30px;">Group leader &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://linayao.com/">Lina Yao</a></li><br><br>
		<ul></ul>
		<!--<ul class="image-grid">
			{% for member in site.group_leader %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>-->
	</div>
	<div class="container">
		<li style="font-size:30px;">Group members</li>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
